<!doctype html>
<html lang="{{lang}}">
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#description}}<meta name="description" content="{{description}}" />{{/description}}
	{{#author}}<meta name="author" content="{{author}}" />{{/author}}
	{{#license.name}}<meta name="license" content="{{license.name}}" />{{/license.name}}
	{{#styles}}
	<link rel="stylesheet" href="{{src}}" media="{{media}}" / >
	{{/styles}}
</head>
<body>
	{{>layout/header}}
	{{>layout/navigation}}
	{{>content}}
	{{>layout/footer}}
	{{#scripts}}
	<script type="text/javascript" src="{{src}}"></script>
	{{/scripts}}
</body>
</html>