<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<meta name="description" content="{{description}}" />
	<meta name="author" content="{{author}}" />
	<meta name="license" content="{{license.name}}" />
	{{#styles}}
	<link rel="stylesheet" href="{{src}}" media="{{media}}" / >
	{{/styles}}
</head>
<body>
	{{>layout/header}}
	{{>layout/navigation}}
	{{>content}}
	{{>layout/footer}}
	{{#scripts}}
	<script type="text/javascript" src="{{src}}"></script>
	{{/scripts}}
</body>
</html>