<!doctype html>
<html lang="{{lang}}">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	{{#description}}<meta name="description" content="{{description}}" />{{/description}}
	{{#author}}<meta name="author" content="{{author}}" />{{/author}}
	{{#license.name}}<meta name="license" content="{{license.name}}" />{{/license.name}}
	{{#styles}}
	<link rel="stylesheet" href="{{src}}" media="{{media}}" / >
	{{/styles}}
</head>
<body>
	{{>layout/header}}
	{{>layout/navigation}}
	{{>content}}
	{{>layout/footer}}
	{{#scripts}}
	<script type="text/javascript" src="{{src}}"></script>
	{{/scripts}}
</body>
</html>